<section class="catalogs container">
    <ScrollTop></ScrollTop>
    <div class="form-row col-md-12 container">
        <div class="form-group col-md-3">
            <label class="h7">Seleccione un catálogo</label>
        </div>
        <div class="form-group col-md-3">
            <select v-model="searchQuery" @change="changeCatalog" class="form-control" id="exampleFormControlSelect1">
                <option v-for="catSorted in sortCatalogos" v-bind:value="catSorted.value">{{catSorted.text}}</option>
            </select>
        </div>
    </div>
    <br><br>
    <div class="form-row">
        <div v-if="searchQuery === '0'"></div>
        <div class="form-group col-md-5" v-else>
            <label for="lblAgregar" id="agregar" v-on:click="agregarClicked()">+ Agregar</label>
        </div>
    </div>
    <div class="bodyTable" align="center">
        <table class="table-borderless table tableCatalog container" v-if="searchQuery === '1'">
            <thead align="center">
                <th>ID</th>
                <th>Tipo Proyecto</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasProjects">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(proyecto, index) in proyectos" :key=proyecto.proyecto_id :class="{editing: proyecto.tipo_proyecto == editedProyecto}" v-cloak align="center">
                    <td>{{proyecto.proyecto_id}}</td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" class="form-control" v-model="proyecto.tipo_proyecto"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{proyecto.tipo_proyecto}}
                        </div>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateProject(index)" class="material-icons">save</i>
                        </span>
                        <span v-else>
                            <i id="clickingIcons" @click="editProyecto(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteProject(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow" align="center">
                    <td></td>
                    <td align="center"><div style="width: 80%;"><input type="text" class="form-control" name="tipoProyectoInput" id="tipoProyectoInput" min="0" max="100" v-model="tipoProyecto"></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveProject(tipoProyecto)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '2'">
            <thead align="center">
                <th>ID</th>
                <th>Nombre</th>
            </thead>
            <tbody>
                <tr v-if="!hasTiendas">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="tienda in tiendas" :key=tienda.tienda_id align="center">
                    <td>{{tienda.tienda_id}}</td>
                    <td>{{tienda.nombre_tienda}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '3'">
            <thead align="center">
                <th>ID</th>
                <th>Temporada</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasTemporada">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(temporada, index) in temporadas" :key=temporada.temporada_id align="center">
                    <td>{{temporada.temporada_id}}</td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" class="form-control" v-model="temporada.nombre_temporada"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{temporada.nombre_temporada}}
                        </div>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateTemporada(index)" class="material-icons">save</i>
                        </span>
                        <span v-else>
                            <i id="clickingIcons" @click="editTemporada(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteTemporada(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow">
                    <td></td>
                    <td align="center"><div style="width: 80%;"><input type="text" class="form-control" name="nombreTemporadaInput" id="nombreTemporadaInput" min="0" max="100" v-model="nombreTemporada"></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveTemporada(nombreTemporada)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>
        
        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '4'">
            <thead align="center">
                <th>ID</th>
                <th>Formato tienda</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasFormato">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(formato, index) in formatos" :key=formato.formato_tienda_id align="center">
                    <td>{{formato.formato_tienda_id}}</td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" class="form-control" v-model="formato.nombre_formato_tienda"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{formato.nombre_formato_tienda}}
                        </div>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateFormato(index)" class="material-icons">save</i>
                        </span>
                        <span v-else>
                            <i id="clickingIcons" @click="editFormato(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteFormato(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow">
                    <td></td>
                    <td align="center"><div style="width: 80%;"><input type="text" class="form-control" name="formatoTiendaInput" id="formatoTiendaInput" min="0" max="100" v-model="formatoTienda"></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveFormato(formatoTienda)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '5'">
            <thead align="center">
                <th>ID</th>
                <th>Subdirección</th>
            </thead>
            <tbody>
                <tr v-if="!hasSubdireccion">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="subdireccion in subdirecciones" :key=subdireccion.subdireccion_id align="center">
                    <td>{{subdireccion.subdireccion_id}}</td>
                    <td>{{subdireccion.nombre_subdireccion}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '6'">
            <thead align="center">
                <th>ID</th>
                <th>Nombre</th>
            </thead>
            <tbody>
                <tr v-if="!hasGerente">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="gerente in gerentes" :key=gerente.gerente_zona_id align="center">
                    <td>{{gerente.gerente_zona_id}}</td>
                    <td>{{gerente.nombre_gerente_zona}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '7'">
            <thead align="center">
                <th>ID</th>
                <th>Zona tienda</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasZona">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(zona, index) in zonas" :key=zona.zona_tienda_id align="center">
                    <td>{{zona.zona_tienda_id}}</td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" class="form-control" v-model="zona.nombre_zona_tienda"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{zona.nombre_zona_tienda}}
                        </div>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateZona(index)" class="material-icons">save</i>
                        </span>
                        <span v-else>
                            <i id="clickingIcons" @click="editZona(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteZona(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow">
                    <td></td>
                    <td align="center"><div style="width: 80%;"><input type="text" class="form-control" name="zonaInput" id="zonaInput" min="0" max="100" v-model="zona"></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveZona(zona)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '8'">
            <thead align="center">
                <th>ID</th>
                <th>Tipo tienda</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasTipoTienda">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(tipoTienda, index) in tiposTiendas" :key=tipoTienda.tipo_tienda_id align="center">
                    <td>{{tipoTienda.tipo_tienda_id}}</td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" class="form-control" v-model="tipoTienda.nombre_tipo_tienda"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{tipoTienda.nombre_tipo_tienda}}
                        </div>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateTipo(index)" class="material-icons">save</i>
                        </span>
                        <span v-else>
                            <i id="clickingIcons" @click="editTipoTienda(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteTipo(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow">
                    <td></td>
                    <td align="center"><div style="width: 80%;"><input type="text" class="form-control" name="tipoTiendaInput" id="tipoTiendaInput" min="0" max="100" v-model="tipoTien"></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveTipo(tipoTien)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>

        <table class="table-borderless table tableCatalog" v-else-if="searchQuery === '9'">
            <thead align="center">
                <th>ID</th>
                <th>Tipo inmueble</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasTipoInmueble">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(inmueble, index) in tiposInmuebles" :key=inmueble.tipo_inmueble_id align="center">
                    <td>{{inmueble.tipo_inmueble_id}}</td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" class="form-control" v-model="inmueble.nombre_tipo_inmueble"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{inmueble.nombre_tipo_inmueble}}
                        </div>
                    </td>
                    <td>
                        <span v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateTipoInmueble(index)" class="material-icons">save</i>
                        </span>
                        <span v-else>
                            <i id="clickingIcons" @click="editTipoInmueble(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteTipoInmueble(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow">
                    <td></td>
                    <td align="center"><div style="width: 80%;"><input type="text" class="form-control" name="tipoInmuebleInput" id="tipoInmuebleInput" min="0" max="100" v-model="tipoInmueble"></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveTipoInmueble(tipoInmueble)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>
        <div v-else></div>
    </div></br></br></br>
</section>