#btnScrollToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF5F00;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;

}

#btnScrollToTop:active {
    background: #e65600;
}