
<section class="assignments">
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="lblAgregarAct" id="agregarActividad" v-on:click="agregarClicked()">+ Agregar actividad</label>
    </div>
    <div class="form-group offset-8 col-md-2">
      <label for="lblAvance">Avance: </label>
      <label for="lblPerc">{{avance}}%</label>
    </div>
  </div>
  <div class="bodyTable">
    <table class="table-borderless table tableTasks">
      <thead align="center">
        <th>ID</th>
        <th>Precedente</th>
        <th>Actividad</th>
        <th>Area Responsable</th>
        <th>Concluido</th>
        <th>Fecha Compromiso</th>
        <th>Fecha Real Cierre</th>
        <th>Dato de Cierre</th>
        <th></th>
      </thead>
      <tbody>
        <tr v-if="!hasTasks">
          <td colspan="11" align="center" >No hay tareas</td>
        </tr>
        <tr v-else v-for="task in tareasProyecto" :key=task.tarea_Id align="center">
          <td>{{task.tarea_by_proy_id}}</td>
          <td>{{task.precedente}}</td>
          <td>{{task.actividad}}</td>
          <td>{{task.area_responsable}}</td>
          <td align="center" v-if=task.concluido >
            <i id="clickingIcons" class="fa fa-circle" :style="onTime(task.fecha_compromiso.split('T')[0],task.concluido,task.fecha_real_cierre.split('T')[0])" v-on:click="test()" style="font-size:24px;"></i>
          </td>
          <td align="center" v-else>
            <i id="clickingIcons" class="fa fa-circle-o" :style="onTime(task.fecha_compromiso.split('T')[0],task.concluido,task.fecha_real_cierre.split('T')[0])" style="font-size:24px;" v-on:click="markAsComplete(task)"></i>
          </td>
          <td>{{task.fecha_compromiso.split("T")[0]}}</td>
          <td>{{task.fecha_real_cierre.split("T")[0]}}</td>
          <td>
            <div v-if=isCLosingInProcess style="width: 80%;">
              <input type="text" class="form-control" name="datoCierreInput" v-model=datoCierre>
            </div>
            <div v-else>{{task.dato_cierre}}</div>
          </td>
          <td>
            <i id="clickingDelete" class="material-icons" v-on:click="remove(task)">delete</i>
          </td>
          
        </tr>

        <!-- NEW ROW INPUTS -->
        <tr id="newRow" v-if="clickedNewRow">
          <td>{{(this.maxID)+1}}</td>
          <td align="center">
            <div style="width: 80%;">
              <select id="precedenteInput" class="form-control" v-model="precedente">
                <option selected>0</option>
                <option v-for="key in listPrecedentes">
                  {{key}}
                </option>
              </select>
            </div>
          </td>
          <!--   -->
          <td align="center">
            <input type="text" class="form-control" name="actividadInput" id="actividadInput" v-model="actividad" :class="(!isActividadCorrect)?'empty':'notEmpty'" >
            <!-- :class="!isActividadCorrect?'empty':'notEmpty'" -->
          </td>
          <td align="center">
            <div style="width: 80%;"><input type="text" class="form-control" name="areaInput" id="areaInput" v-model=area_responsable  :class="!isAreaCorrect?'empty':'notEmpty'"></div>
            <!--  :class="!isAreaCorrect?'empty':'notEmpty'" -->
          </td> 
          <td></td>
          <td align="center">
            <div style="width: 90%;"><input type="date" class="form-control" id="compromisoInput" v-model="fecha_compromiso" :class="!isCompromisoCorrect?'empty':'notEmpty'"></div> 
            <!-- :class="!isCompromisoCorrect?'empty':'notEmpty'" -->
          </td>
          <td align="center">
            <div style="width: 90%;"><input type="date" class="form-control" id="realInput" width="50%" v-model="fecha_real_cierre" :class="!isRealCorrect?'empty':'notEmpty'" ></div>
            <!-- :class="!isRealCorrect?'empty':'notEmpty'" -->
          </td>
          <td></td>
          <td>
            <!-- <button id="clickingSave" class="btn btn-light" style="font-size:24px"><i class="material-icons">save</i></button> -->
            <i id="clickingSave" v-on:click="addToList()" class="material-icons">save</i>
          </td>
        </tr> 
      </tbody>
    </table>
    <!-- {{precedente}} {{fecha_compromiso}} {{fecha_real_cierre}} {{actividad}} {{area_responsable}} -->
  </div>
</section>


