
#agregarActividad:hover{
    cursor: pointer;
}

.bodyTable{ 
    overflow-y: auto; 
}

table.tableTasks {
    border-spacing: 0;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    font: 16px Sans-Serif;
}

th {
    background-color: #FF5F00;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
}

td{
    border:none;
}

table.tableTasks tr:hover{
    background-color: #f9f9f9;
}

#clickingIcons:hover{
    cursor: pointer;
}

#clickingDelete{
    cursor: pointer;
}

#clickingDelete:hover{
    color: red;
}

#clickingSave{
    cursor: pointer;
}

#clickingSave:hover{
    color: lime;
}

.form-group>label{
    font-weight: bold;
    font-size: 16px;
    padding-left: 1em;
}


td{
    max-width: 2em;
}

select{
    font-size: 12px;
}

/* option{
    font-size: 12px;
}

input{
    font-size: 12px;
} */

.empty {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.notEmpty {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    /* margin: 5px 1px 3px 0px; */
    border: 1px solid lime;
    box-shadow: 0 0 5px lime;
}
/* 
.empty:focus {
    box-shadow: 0 0 5px red;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid red
} */


