
<section class="testing-component">
  <h2><input type="date" class="form-control" id="realInput" width="50%" v-model="stringDate" @keyup.enter="isEarlier(stringDate)"></h2>
  {{isEarlier(stringDate)}}
</section>

