
  .wrapper {
    height: 700px;
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 0;
    width: 80%;
  }
  
  .form-group>label{
    font-weight: bold;
    font-size: 16px;
    padding-left: 1em;
  }

  textarea{
    resize: none;
  }
  
  div>.form-group{
    /* padding:.5em; */
    text-align: left;
    padding-top: .5em;
  }

  .form-group>a{
    color:#ff5f00;
    font-weight: bold;

  }

  .form-group>a:visited{
    color:rgba(255, 95, 0,0.5);
    font-weight: initial;
    
  }

  /* .form-group>a:hover{

  } */

  .form-group>a:active{
    color:#cc4c00
  }

  #mainMonitorDiv{
    padding-bottom: 5em;
  }
  
  @media (max-width: 800px) {
    .form-group>label{
      font-weight: bold;
      font-size: 12px;
      padding-left: 1em;
    }
  }

    @media (max-width: 1000px) {
      .form-group>label{
        font-weight: bold;
        font-size: 16px;
        padding-left: 1em;
      }
    }