
<div>
    <div v-if="!hasLoaded">
      <LoadingWheel></LoadingWheel>
    </div>
    <div v-else id="mainMonitorDiv" class="container" >
      <ScrollTop></ScrollTop>
      <form @submit.prevent="postProyecto()">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="lblProyecto">Proyecto:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputProyecto" class="form-control" v-model.trim="dataProyecto.proyecto" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Proyecto" v-bind:value=key.proyecto_id :key="key.proyecto_id">
                {{key.tipo_proyecto}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="lblFechaApertura">Fecha de Apertura:</label>
          </div>
          <div class="form-group col-md-2">
            <input type="date" class="form-control" id="inputFechaApertura" v-model.trim="dataProyecto.fechaApertura" :disabled="existingData" required>
          </div>
          <div class="form-group col-md-2">
            <label for="lblFechaInicioObra">Fecha de Inicio de Obra:</label>
          </div>
          <div class="form-group col-md-2">
            <input type="date" class="form-control" id="inputFechaInicioObra" v-model.trim="dataProyecto.fechaInicio" :disabled="existingData" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="lblTienda">Tienda:</label>
          </div>
          <div class="form-group col-md-2">
            <input v-if="isApertura" type="text" class="form-control" id="inputTienda" v-model.trim="dataProyecto.tienda" placeholder="Ingresa Tienda" :disabled="existingData" required>
            <select v-else class="form-control" id="inputSTienda" v-model.trim="dataProyecto.tienda" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Tienda"  v-bind:value=key.tienda_id :key="key.tienda_id">
                {{key.nombre_tienda}}
              </option>
            </select>   
          </div>
          <div class="form-group col-md-2">
            <label for="lblNombreTienda">Nombre de Tienda:</label>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" id="inputNombreTienda" v-model.trim="dataProyecto.nombreTienda" placeholder="Ingresa Nombre de Tienda" :disabled="existingData" required>
          </div>
          <div class="form-group col-md-2">
            <label for="lblFormato">Formato de Tienda:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputFormato" class="form-control" v-model.trim="dataProyecto.formato" :disabled="existingData">
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_FormatoTienda"  v-bind:value=key.formato_tienda_id :key="key.formato_tienda_id" required>
                {{key.nombre_formato_tienda}}
              </option>
            </select>    
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="lblSubdireccion">Subdirección:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputSubdireccion" class="form-control" v-model.trim="dataProyecto.subdireccion" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Subdireccion" v-bind:value=key.subdireccion_id :key="key.subdireccion_id">
                {{key.nombre_subdireccion}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="lblGerenteZona">Gerente de Zona:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputGerenteZona" class="form-control"  v-model.trim="dataProyecto.gerente" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Gerente" v-bind:value=key.gerente_zona_id :key="key.gerente_zona_id">
                {{key.nombre_gerente_zona}}
              </option :v>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="lblEspejo">Tienda Espejo:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputEspejo" class="form-control" v-model.trim="dataProyecto.espejo" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Tienda" v-bind:value=key.tienda_id :key="key.tienda_id">
                {{key.nombre_tienda}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="lblTipoTienda">Tipo de Tienda:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputTipoTienda" class="form-control" v-model.trim="dataProyecto.tipoTienda" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_TipoTienda" v-bind:value=key.tipo_tienda_id :key="key.tipo_tienda_id">
                {{key.nombre_tipo_tienda}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="lblTipoInmueble">Tipo de Inmueble:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputTipoInmueble" class="form-control" v-model.trim="dataProyecto.inmueble" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Inmueble" v-bind:value=key.tipo_inmueble_id :key="key.tipo_inmueble_id">
                {{key.nombre_tipo_inmueble}}
              </option>
            </select>

          </div>
          <div class="form-group col-md-2">
            <label for="lblZonaTienda">Zona de Tienda:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputZonaTienda" class="form-control" v-model.trim="dataProyecto.zonaTienda" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Zona" v-bind:value="key.zona_tienda_id" :key="key.zona_tienda_id">
                {{key.nombre_zona_tienda}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row"> 
          <div class="form-group col-md-2">
            <label for="lblZonaTienda">Temporada:</label>
          </div>
          <div class="form-group col-md-2">
            <select id="inputTemporada" class="form-control" v-model.trim="dataProyecto.temporada" :disabled="existingData" required>
              <option value="" disabled selected>--SELECCIONA--</option>
              <option v-for="key in CAT_Temporada" v-bind:value="key.temporada_id" :key="key.temporada_id">
                {{key.nombre_temporada}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="lblDireccion" style="padding-left: 0;">Dirección de la Tienda:</label>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputDireccion" v-model.trim="dataProyecto.direccionTienda" :disabled="existingData" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="lblPlano">Plano:</label>
          </div>
          <div style="font-size: 15px;" v-if=!existingData class="form-group offset-1 col-md-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="planoInput" required>
              <label class="custom-file-label" for="planoInput">Selecciona archivo</label>
            </div>
          </div>
          <div v-else class="form-group offset-md-1 col-md-1">
            <a href="#">Descargar</a>
          </div>
          <div class="form-group offset-md-2 col-md-1">
            <label for="lblPresupuesto" style="padding-left: 0;">Presupuesto:</label>
          </div>
          <div style="font-size: 15px;" v-if=!existingData class="form-group offset-1 col-md-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="presupuestoInput" required>
              <label class="custom-file-label" for="presupuestoInput">Selecciona archivo</label>
            </div>
          </div>
          <div v-else class="form-group offset-md-1 col-md-1">
            <a href="#">Descargar</a>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group offset-md-1 col-md-2">
            <label for="lblTextAreaObservacionesEspejo" style="padding-left: 0;">Observaciones Tienda Espejo:</label>
          </div>
          <div class="form-group offset-md-1 col-md-5">
            <textarea maxlength="500" class="form-control" id="inputTextAreaObservacionesEspejo" rows="5" placeholder="(Presupuestos)" v-model.trim="dataProyecto.observacionesEspejo" :disabled="existingData"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group offset-md-1 col-md-2">
            <label for="lblTextAreaObservaciones" style="padding-left: 0;">Observaciones Generales:</label>
          </div>
          <div class="form-group offset-md-1 col-md-5">
            <textarea maxlength="500" class="form-control" id="inputTextAreaObservaciones" rows="5" v-model.trim="dataProyecto.observacionesGral" :disabled="existingData"></textarea>
          </div>
        </div>

        <div v-if=existingData class="container" style="padding-top: 2em; padding-bottom: 1em;">
          <Assignments :proyectID=this.$route.params.ID ></Assignments>
        </div>
        
        <div class="container">
          <div id="rowComunicado" class="row form-group">
            
            <div class="col form-row">
              <button type="button" class="btn btn-orange btn-block" @click="regresarMenuPrincipal()" >Cerrar</button>
            </div>
            <div v-if=!existingData class="col form-row">
              <button class="btn btn-dark btn-block">Crear Proyecto</button>        
            </div>
            <!-- <div v-else class="col form-row">
              <button type="button" class="btn btn-dark btn-block">Crear Reporte de Actividad</button>        
            </div> -->
          </div>
        </div>

      </form>      
<!-- 
      <div class="container" style="padding-top:3em">
        <Tasks :columns="tasksColumns"></Tasks>
      </div> -->
    
  </div>
</div>