#agregar:hover{
    cursor: pointer;
  }
  
  .bodyTable{ 
    overflow-y: auto; 
  }
  
  table.tableCatalog {
    border-spacing: 0;
    width: 60%;
    border-radius: 3px;
    background-color: #fff;
    font: 12px Sans-Serif;
  }
  
  th {
    text-align: center;
    background-color: #FF5F00;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
  }
  
  td{
    border:none;
    vertical-align: middle;
  }
  
  table.tableCatalog tr:hover{
    background-color: #f9f9f9;
  }
  
  #clickingIcons{
    cursor: pointer;
  }
  
  .form-group>label{
    font-weight: bold;
    font-size: 16px;
    padding-left: 1em;
  }
