<section class="catalogs">
    <div class="form-row col-md-12 container">
        <div class="form-group col-md-3">
            <label class="h7">Menú Usuarios</label>
        </div>
    </div>
    <br><br>
    <div class="form-row">
        <div v-if="searchQuery === '0'"></div>
        <div class="form-group col-md-2" v-else>
            <label for="lblAgregar" id="agregar" v-on:click="agregarClicked()">+ Agregar</label>
        </div>
    </div>
    <div class="bodyTable" align="center">
        <table class="table-borderless table tableCatalog container" style="width: 90%;">
            <thead align="center">
                <th>Número de empleado</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Perfil</th>
                <th>Cadena</th>
                <th>Área asignada</th>
                <th>Activo</th>
                <th>Reportes</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Acción</th>
            </thead>
            <tbody>
                <tr v-if="!hasUsers">
                    <td colspan="11" align="center" >No hay registros</td>
                </tr>
                <tr v-else v-for="(usuario, index) in usuarios" :key=usuario.no_empleado align="center">
                    <td>{{usuario.no_empleado}}</td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input style="font-size: 12px;" type="text" class="form-control" v-model="usuario.nombre"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{usuario.nombre}}
                        </div>
                    </td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input style="font-size: 12px;" type="text" class="form-control" v-model="usuario.email"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{usuario.email}}
                        </div>
                    </td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <select v-model="usuario.perfil" style="font-size: 12px;" class="form-control" id="ddlPerfil">
                                <option v-for="perfil in sortPerfil" v-bind:value="perfil.value">{{perfil.text}}</option>
                            </select>
                        </div>
                        <div v-else style="width: 80%;">
                            <div v-if="usuario.perfil === 'A'">Administrador</div>
                            <div v-else>Funcional</div>
                        </div>
                    </td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <select v-model="searchQuery" style="font-size: 12px;" class="form-control" id="ddlCadena">
                                <option v-for="catSorted in sortCatalogos" v-bind:value="catSorted.value">{{catSorted.text}}</option>
                            </select>
                        </div>
                        <div v-else>
                            {{usuario.cadena}}
                        </div>
                    </td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <select v-model="searchQuery" style="font-size: 12px;" class="form-control" id="ddlAreaAsig">
                                <option v-for="catSorted in sortCatalogos" v-bind:value="catSorted.value">{{catSorted.text}}</option>
                            </select>
                        </div>
                        <div v-else>
                            {{usuario.area_asignada}}
                        </div>
                    </td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="checkbox" id="checkedActivo" v-model="usuario.activo" checked="usuario.activo">
                        </div>
                        <div v-else style="width: 80%;">
                            <input type="checkbox" id="checkedActivo" v-model="usuario.activo" disabled checked="usuario.activo">
                        </div>
                    </td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="checkbox" id="checkedReportes" v-model="usuario.reportes" checked="usuario.reportes">
                        </div>
                        <div v-else style="width: 80%;">
                            <input type="checkbox" id="checkedReportes" v-model="usuario.reportes" disabled checked="usuario.reportes">
                        </div>
                    </td>
                    <td align="center">
                        <div v-if="formActualizar && idActualizar == index">
                            <input type="text" style="font-size: 12px;" class="form-control" v-model="usuario.empleado_usuario"/>
                        </div>
                        <div v-else style="width: 80%;">
                            {{usuario.empleado_usuario}}
                        </div>
                    </td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <input style="font-size: 12px;" type="password" class="form-control" v-model="usuario.password" >
                        </div>
                        <div v-else style="width: 80%;">
                            <div>
                                ••••••••••
                            </div>
                        </div>
                    </td>
                    <td>
                        <div v-if="formActualizar && idActualizar == index">
                            <i id="clickingIcons" @click="updateUser(index)" class="material-icons">save</i>
                        </div>
                        <span v-else>
                            <i id="clickingIcons" @click="editUser(index)" class="material-icons">edit</i>
                            <i id="clickingIcons" @click="deleteUser(index)" class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr id="newRow" v-if="clickedNewRow" align="center">
                    <td align="center"><div><input style="font-size: 12px;" type="number" class="form-control" name="no_empleado" id="no_empleado" v-model="no_empleado"></div></td>
                    <td align="center"><div><input style="font-size: 12px;" type="text" class="form-control" name="nombre" id="nombre" min="0" max="100" v-model="nombre"></div></td>
                    <td align="center"><div><input style="font-size: 12px;" type="text" class="form-control" name="email" id="email" min="0" max="100" v-model="email"></div></td>
                    <td align="center">
                        <div>
                            <select v-model="searchPerfil" style="font-size: 12px;" class="form-control" id="ddlPerfil">
                                <option v-for="perfil in sortPerfil" v-bind:value="perfil.value">{{perfil.text}}</option>
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div>
                            <select v-model="searchCadena" style="font-size: 12px;" class="form-control" id="ddlPerfil">
                                <option v-for="perfil in sortPerfil" v-bind:value="perfil.value">{{perfil.text}}</option>
                            </select>
                        </div>
                    </td>
                    <td align="center">
                        <div>
                            <select v-model="searchArea" style="font-size: 12px;" class="form-control" id="ddlPerfil">
                                <option v-for="perfil in sortPerfil" v-bind:value="perfil.value">{{perfil.text}}</option>
                            </select>
                        </div>
                    </td>
                    <td align="center"><input type="checkbox" id="activo" v-model="activo"></td>
                    <td align="center"><input type="checkbox" id="reportes" v-model="reportes"></td>
                    <td align="center"><div><input style="font-size: 12px;" type="text" class="form-control" name="empleado_usuario" id="empleado_usuario" min="0" max="20" v-model="empleado_usuario"></div></td>
                    <td align="center"><div><input style="font-size: 12px;" type="password" class="form-control" v-model="password" ></div></td>
                    <td>
                        <i id="clickingIcons" @click="saveUser(no_empleado,nombre,email, searchPerfil,searchCadena,searchArea,activo,reportes,empleado_usuario,password)" class="material-icons">save</i>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div></br></br></br>
</section>