body {
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #FF5F00;
  }
  
  table.tableProjects {
    border-spacing: 0;
    width: 100%;
    /* border: 2px solid #FF5F00; */
    border-radius: 3px;
    background-color: #fff;
    font: 16px Sans-Serif;
  }
  
  th {
    background-color: #FF5F00;
    color: rgba(255, 255, 255, 0.66);
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .none {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-bottom: none;
    text-align: center;
  }

  div.pagButtons > table.tableProjects > tr > td
  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-bottom: none;
    text-align: center;
    padding-top: 2em;
  }

  td {
    background-color: white
  }
  
  table.tableProjects tr:hover td:not(.statusColor){
    background-color:  #f9f9f9;
  }

  table.tableProjects th:hover {
    background-color: #e65600;
    color: white;
  }

  th,
  td {
    min-width: 130px;
    padding: 10px 20px;
  }
  
  th.active {
    color: #fff;
  }
  
  th.active .arrow {
    opacity: 1;
  }

  .arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
  }
  
  .arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fae042;
  }
  
  .arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fae042;
  }
  
  #table-div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 600px;
  }

  .wrapper {
    height: 700px;
    padding: 3em;
    padding-bottom: 1em;
    padding-top: 0;
  }
  
  #table-div {
    height: 100%;
    width: 100%;
  }
  

  .titleGrid{
    padding-bottom: 1em;
  }

  .orangeColors{
    background-color: #FF5F00;
    border-color: #FF5F00;
    color: white;
  }

.bodyTable{ 
  overflow-y: auto; height: 100px;
  height: 700px;
}

.bodyTable thead th { 
  position: sticky; 

}

.statusColor{
  width: 5px;
  min-width: 5px;
  padding: 0;
}

table.tableProjects th.statusColor:hover {
  background-color: #FF5F00;
}

table.tableProjects td.statusColor {
  background-color: red;

}

table.tableProjects td.statusColor:hover {
  background-color: red;

}

p {
  margin: 30px 0 0 0;
}

.taskCompleted{
  width: 5px;
  min-width: 5px;
  padding: 0;
}

table.tableProjects th.taskCompleted:hover {
  background-color: #FF5F00;
}

table.tableProjects td.taskCompleted {
  background-color: lime;

}

table.tableProjects td.taskCompleted:hover {
  background-color: lime;

}

.editable{
  cursor: pointer;
}

.noEditable{
  cursor: default;
}


/* Customize the label (the labelCheck) */
.labelCheck {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.labelCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.labelCheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.labelCheck input:checked ~ .checkmark {
  background-color: #FF5F00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.labelCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.labelCheck .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}