<div>
  <div id="gruaper" class="wrapper"  v-if=theresData>

    <div id="table-div" >
      
        <!-- * TITULO Y DROPDOWNS -->
        <div class="row">
          <div class="titleGrid col-lg-6"><p class="h3">{{titletable}}</p></div>
          <div class="form-group col-lg-2">
              <label class="h6">Filtrar por Área</label>
              <select v-model="searchQuery" class="form-control" id="exampleFormControlSelect1">
                <option v-for="areaSorted in sortAreas" :value="areaSorted">{{areaSorted}}</option>
              </select>
          </div>
          <div class="form-group col-lg-2">
            <label class="h6">Numero de Registros</label >
            <select v-model="rowsPerPage" class="form-control" style="margin-bottom: 1em;">
              <option v-for="pageSize in pageSizeMenu" :value="pageSize">{{pageSize}}</option>
            </select>
          </div>

          <div class="form-group col-lg-2">
            <label id="Search" class="h6">Búsqueda</label>
            <input class="form-control" name="query" v-model="searchQuery">
          </div>
        </div>
        
        <!-- * GRID -->
        <div class="bodyTable">
        <table class="tableProjects">
          <thead>
            <tr>
              <th v-if=isEditable class="statusColor">
              </th>
              <th v-if=isEditable style="min-width: 0em;padding: 5px;">
                <label id="checkboxAll" class="form-checkbox labelCheck">
                  <input type="checkbox" v-model="selectAll" @click="select()">
                  <span class="checkmark"></span>
                </label>
              </th>
              <th v-for="key in headers"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="entry in dataPerPage" :key="entry.ID"  v-on:dblclick="clickList(entry)" class="clickable-row" :class="{ editable : isEditable, noEditable : !isEditable }">
              <td v-if=isEditable class="statusColor" :class="{taskCompleted : entry.EnComunicado == true }"></td>
              <td v-if=isEditable style="min-width: 0em;padding: 5px;">
                <label class="form-checkbox labelCheck">
                  <input type="checkbox" :value="entry.ID" v-model="selected">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>{{entry.Tienda}}</td> 
              <td>{{entry.TipoPlan}}</td>  
              <td>{{entry.TipoTienda}}</td>  
              <td>{{entry.TipoInmueble}}</td>
              <td>{{entry.TiendaEspejo}}</td>  
              <td>{{entry.FechaApertura.split("T")[0]}}</td>  
              <td>{{entry.Direccion}}</td>  
              <td v-if=isEditable style="min-width: 0em;padding: 5px;">
                <i id="clickingDelete" class="material-icons" v-on:click="changeStatus(entry)">delete</i>
              </td> 
              <!-- <td v-for="key in columns" :key="key.ID">
                {{entry.tienda}}
              </td>     -->
            </tr>
          </tbody>
        </table>
      </div>

      <!-- * BOTONES PARA MOVER ENTRE PAGINAS -->

        <div class="pagButtons">
        <div class="row" style="padding-top:1em;">
          <div class="form-group col-lg-4">
            <button class="btn btn-orange btn-sm btn-block " @click=movePages(-1)>Back</button>
          </div>
          <div class="form-group col-lg-4">
            <h5><p class="badge badge-primary orangeColors">Página {{parseFloat(startRow / rowsPerPage + 1).toFixed(0) }} de 
            {{totalPages()}}</p></h5>
          </div>
          <div class="form-group col-lg-4">
            <button class="btn btn-orange btn-sm btn-block "  @click=movePages(1)>Next</button>
          </div>
        </div>
        </div>
        
      </di>
    </div>
    
  </div>
  <div v-else>
    <!-- SHOWING NOTHING -->
  </div>
  <!-- {{selected}} -->
</div>