@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css");

table.tableTasks {
    border-spacing: 0;
    width: 100%;
    /* border: 2px solid #FF5F00; */
    border-radius: 3px;
    background-color: #fff;
  }
  
  th {
    background-color: #FF5F00;
    color: white;
    /* color: rgba(255, 255, 255, 0.66); */
    font-size: 14px;
    /* cursor: pointer; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .none {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-bottom: none;
    text-align: center;
    padding-top: 2em;
  }

  div.pagButtons > table.tableTasks > tr > td
  {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-bottom: none;
    text-align: center;
    padding-top: 2em;
  }

  td {
    /* border-bottom: 1px #FF5F00 solid; */
    background-color: white
  }
  
  table.tableTasks tr:hover td:not(.statusColor) {
    background-color:  #f9f9f9;;
  }

  /* table.tableTasks th:hover {
    background-color: #e65600;
    color: white;
  } */

  th,
  td {
    /* min-width: 140px; */
    padding: 10px 20px;
  }


  .orangeColors{
    background-color: #FF5F00;
    border-color: #FF5F00;
    color: white;
  }

/* .bodyTable{ 
  overflow-y: auto; height: 100px;
} */

/* thead th { 
  position: sticky; top: 0; 
} */

.todo-input{
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom: 16px;
}

.todo-input:focus{
    outline: 0;
}

.todo-item{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}

.remove-item{
  cursor: pointer;
  margin-left: 14px;
}

.remove-item:hover{
  color:red;
}

.todo-item-left{
  display: flex;
  align-items: center;
}

.todo-item-label{
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
}

.todo-item.edit{
  font-size: 24px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.todo-item.edit:focus{
  outline: none ;
}

.completed{
  text-decoration: line-through;
  color: lightgray;
}

.extra-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
}

button{
  font-size: 14px;
  background-color: white;
  appearance: none;
  padding: 4px;
}

button:hover{
  background: lightgreen;
}

button:hover{
  outline: none;
}

.active{
  background:lightgreen
}

.fade{
  animation-duration: 0.5s;
}