
<section class="tasks">
  <div class="container">
    <input type="text" class="todo-input" placeholder="What needs to be done" v-model="newTodo" @keyup.enter="addTodo">
    <transition-group name="fade" enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
    <task-item v-for="(todo, index) in todosFiltered" :key="todo.id" :todo="todo" :index="index" :checkAll="!anyRemaining" @removedTodo="removeTodo" @finishedEdit="finishedEdit">
      <!-- <div class="todo-item-left">
        <input type="checkbox" v-model="todo.completed">

        <div v-if="!todo.editing" @dblclick="editTodo(todo)" class="todo-item-label" :class="{ completed : todo.completed}"> 
          {{todo.title}} 
        </div>
        
        <input v-else class="todo-item-edit" type="text" v-model="todo.title" @blur="doneEdit(todo)" @keyup.enter="doneEdit(todo)" @keyup.esc="cancelEdit(todo)" v-focus>

      </div>

      <div class="remove-item" @click="removeTodo(index)">
        &times;
      </div>
       -->
    </task-item>
    </transition-group>

    <div class="extra-container">
      <div><label><input type="checkbox" :checked="!anyRemaining" @change="checkAllTodos"> Check all</label></div>
      <div>{{remaining}} items left</div>
    </div>

    <div class="extra-container">
      <div>
        <button :class="{active : filter == 'all' }" @click="filter = 'all'">All</button>
        <button :class="{active : filter == 'active' }" @click="filter = 'active'">Active</button>
        <button :class="{active : filter == 'completed' }" @click="filter = 'completed'">Completed</button>
      </div>

      <div>    
        <transition class="fade" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutUp">
          <button v-if="showClearCompletedButton" @click="clearCompleted">Clear Completed</button>
        </transition>
      </div>
    </div>
  </div>
</section>

