
header
{
    height: 117px;
    background-image: url('Img/fondo.png');
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
}

.content-inside {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
  }



body {
    font: 16px Sans-Serif;
  }
  
  h1 {
    margin: 0 0 20px 0;
  }
  
  p {
    margin: 20px 0 0 0;
  }

  
footer{
    background-color: #000000;
    color: white;
    font-size: 14px;
}

#divFooter{
    padding-top: 1rem;
    padding-left: 3rem;
}