.loading-wheel {

}

.pulse-loader{
    position: relative;
    width: 80px;
    height: 80px;
}

.pulse-loader div {
    position: absolute;
    border: 4px solid #FF5F00;
    border-radius: 50%;
    animation: pulse-loader 1s ease-out infinite;
}

.pulse-loader div:nth-child(2){
    animation-delay: -0.5s;
}

@keyframes pulse-loader{
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

.popup{
    position:fixed;
    left:50%;
    
}

.popup .wrapper{
    position:relative; 
    left:-50%;
}