<template>
    <div>
        
        <nav>
        <div class="logo">
            <h4></h4>
        </div>

        <ul class="nav-links">
            <li>
                <a href="/">Proyectos</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="/usuarios">Usuarios</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="/catalogos">Catalogos</a>
            </li>
            <li>
                |
            </li>
            <li>
                <a href="/login" @click="cerrar()">Cerrar Sesión</a>
            </li>
        </ul>
        <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
    </nav>

        <header id="header">
            <div class="container">
                <div class="row">
                    <table class="encabezado">
                        <tr>
                            <td class="span6" style="padding-left: 117px; padding-top: 9px;"></td>
                        </tr>
                    </table>
                </div>
            </div> 
        </header>
        <div id="app">
            <div id="page-container">
                <slot></slot>
                <footer id="footer">
                    <div id="divFooter">
                        <p>&copy; <span id="spanDate"></span> Corporación Control S.A. de C.V. | Todos los Derechos Reservados</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    name: "dashboard-layout",
    mounted() {
        this.fechaFooter();
    },

    methods: {
        fechaFooter(){   
            var tomorrow = new Date();
            tomorrow.setTime(tomorrow.getTime() + (1000*3600*24));       
            document.getElementById("spanDate").innerHTML = tomorrow.getFullYear();
        },
        cerrar(){
            alert("works")
            this.$token = "wrongtoken"}
    }
}
</script>

<style lang="css">
#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: "Avenir", Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header
{
    height: 117px;
    background-image: url('./../../assets/fondo.png');
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    margin-bottom: 1em;
}

body {
    font: 16px Sans-Serif;
}

h1 {
    margin: 0 0 20px 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
    background-color: #000000;
    color: white;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    /* font-family: "Poppins", sans-serif */
}

.logo {
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
    
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

</style>

<script>
export default {
    created(){
    const burger = document.querySelector(".burger");
    const nav = document.querySelector(".nav-links");
    const navLinks = document.querySelectorAll(".nav-links li");
    
    burger.addEventListener('click', () => {
        //Toogle Nav
        nav.classList.toggle("nav-active");
        //Activate Link
        navLinks.forEach((link,index) =>{
            if(link.style.animation){
                link.style.animation = ''
            }
            else{
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + .5}s`;
            }
            
        });
        //Burger Animation
        burger.classList.toggle("toggle");

    });
    }
}
</script>