<template>    
    <div id="app">
        <component :is="layout">
        <router-view></router-view>
        </component>
    </div>
</template>

<script>
export default{
    computed:{
        layout() {
            return (this.$route.meta.layout);
        }
    }
}
</script>

<style lang="css">

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 24px;
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    list-style: none;
    padding: 15px 0;
    margin: 0;
    justify-content: flex-end;
    background: #F5F8FA;
    border-bottom:  1px solid lightgrey;
    margin-bottom: 24px;
}

.nav a{
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

</style>


