<template>
    <div class="error404">
        <img class="imageWarning" src="../../assets/error.png" alt="Pagina no Encontrada"><br>
        <h1>404 Página no encontrada</h1><br>
        <button action="action" onclick="(window.history);window.history.go(-1); return false;" type="submit" class="btn btn-orange buttonLog backButton"><span class="full-text">Regresar</span><span class="short-text">&larr;</span></button>
    </div>
</template>

<script>
export default {
    created(){
        if(!(this.$token === '1234control')){
            this.$router.push("/login")
        }
    }
}
</script>

<style scoped>
.error404{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(253, 251, 251);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error404 h1{
    color:rgba(255, 95, 0,0.8)
}

.backButton{
    width:30%;
}

.short-text { display: none; }

@media (max-width: 600px) {
    .short-text { display:initial; }
    .full-text { display: none; }
    .fof h1 { font-size:30px }

}


</style>


