<template lang="html">
  <div class="todo-item">
    <div class="todo-item-left">
        <input type="checkbox" v-model="completed" @change="doneEdit">

        <div v-if="!editing" @dblclick="editTodo" class="todo-item-label" :class="{ completed : completed}"> 
          {{title}} 
        </div>
        
        <input v-else class="todo-item-edit" type="text" v-model="title" @blur="doneEdit" @keyup.enter="doneEdit" @keyup.esc="cancelEdit" v-focus>
    </div>

    <div class="remove-item" @click="removeTodo(index)">
        &times;
    </div>
  </div>
</template>

<script lang="js">

  export default  {
    name: 'task-item',
    props: {
      todo: {
        type: Object,
        required:true,
      },
      index: {
        type: Number,
        required: true,
      },
      checkAll: {
        type: Boolean,
        required: true
      }
    },
    mounted () {

    },
    data () {
      return {
        'id': this.todo.id,
        'title': this.todo.title,
        'completed': this.todo.completed,
        'editing': this.todo.editing,
        'beforeEditCache': ''
      }
    },
    directives: {
    focus: {
        // Definición de directiva
        inserted: function (el) {
          el.focus()
        }
      }
    },
    watch:{
      checkAll(){
        // if(this.checkAll){
        //   this.completed = true
        // }else{
        //   this.completed = this.todo.completed
        // }
        this.completed = this.checkAll ? true : this.todo.completed
      }
    },
    methods: {
      removeTodo(index){
        this.$emit('removedTodo', index)
      },
      editTodo(){
        if(this.completed == true)
        {
          return
        }
        this.beforeEditCache = this.title
        this.editing = true;
      },
      doneEdit(){
        if(this.title.trim().length == 0){
          this.title = this.beforeEditCache
        }
        this.editing = false
        this.$emit('finishedEdit',{
          'index': this.index,
          'todo': {
            'id':this.id,
            'title':this.title,
            'completed':this.completed,
            'editing':this.editing,
          }
        })
      },
      cancelEdit(){
        this.title = this.beforeEditCache
        this.editing = false
      },
    },
    computed: {

    }
}


</script>

<style scoped lang="css">
  
.todo-item{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}

.remove-item{
  cursor: pointer;
  margin-left: 14px;
}

.remove-item:hover{
  color:red;
}

.todo-item-left{
  display: flex;
  align-items: center;
}

.todo-item-label{
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
}

.todo-item.edit{
  font-size: 24px;
  color: #2c3e50;
  margin-left: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.todo-item.edit:focus{
  outline: none ;
}

.completed{
  text-decoration: line-through;
  color: lightgray;
}
</style>
