<section class="login">
  <div class="divlogin">
    <div class="container">
        <div class="divcont">
          <img src="../../assets/logo_cc.png" width="100%" alt="Grupo Control Comercial">
            <p id="lblTitle" style="margin:10px">{{title}}</p>           

            <div style="background-color:#ff5252;" v-if="error">
              <div class="row">
                <div class="form-group col-md-1 closeError" @click="closeError">
                  &times;
                </div>
                <div class="form-group col-md-10" style="font-size: 13px; color: #ffeded">
                  {{errorMessage}}
                </div>
              </div>
            </div> 
            <form @submit.prevent="login">
              <!-- :class="{'error':validaEmail}" -->
                <input type="text"  placeholder="Usuario" v-model="User">  
                <input type="password" placeholder="Contraseña" v-model="Password" >
                <button class="btn btn-block btn-orange buttonLog">Iniciar sesión</button>
            </form>
        </div>            
    </div>
  </div>
</section>
<!-- btn btn-block btn-orange buttonLog -->