.divlogin{ 
    background-size: cover; 
    background-position: center center; 
    width: 100%; 
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;    
    background-color: white
}
.divlogin .container{ 
    width: 100%;
    text-align: center;
}

.divlogin .container .divcont{
    width: 100%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

p#lblTitle{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.divlogin .container .divcont h3{
    margin-top: 0px;
}

.divlogin .container .divcont input{ 
    height: 30px; 
    margin: 0px; 
    border: 0px; 
    outline: none; 
    padding: 10px; 
    border-radius: 5px; 
    width: 90%;
    margin-bottom: 10px;
}
.divlogin .container .divcont input.error{ 
    border-bottom: 3px solid rgb(255, 95, 0); 
}

.closeError:hover{
    cursor: pointer;
    color:white;
}