<template>
  <div>

    <div v-if=!this.hasLoaded>
      <LoadingWheel></LoadingWheel>
    </div>

    <div v-else>
      <ScrollTop></ScrollTop>
      <p v-if=hasConError>Se ha producido un error al comunicarse con la base de datos</p>
      <div v-else>
        <Grid :data="dataOnTime" :columns="gridColumns" :headers="gridHeaders" :titletable="'Proyectos con Tiempo'" :isEditable=true></Grid>
        <Grid :data="dataPending" :columns="gridColumns" :headers="gridHeaders" :titletable="'Proyectos con Pendientes post Apertura'" :isEditable=false></Grid>
        <Grid :data="dataInnactive" :columns="gridColumns" :headers="gridHeaders" :titletable="'Proyectos Innactivos / Suspendidos'" :isEditable=false></Grid>
        <div class="container" style="padding-bottom:4em">
          <div id="rowComunicado" class="row">
            <div class="col">
              <button @click="crearNuevoProyecto" class="btn btn-dark" style="margin: 1em;">Crear Nuevo Proyecto</button>        
            </div>
            <div class="col">
              <button class="btn btn-orange"  style="margin: 1em;">Enviar Comunicado</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Grid from "./components/Grid/index.vue";
import Axios from 'axios';
import LoadingWheel from "./components/LoadingWheel/index.vue";
import ScrollTop from "./components/ScrollToTop/index.vue";
// import XMLJS from 'xml-js';

export default {
  name: "app",
  data() {
    return {
      searchQuery: '',
      gridData : [],
      gridColumns: ["Tienda","TipoPlan","TipoTienda","TipoInmueble","TiendaEspejo","FechaApertura","Direccion"],
      //["tienTienda","tipoPlan","tipoTienda","tipoInmueble","tiendaEspejo","fechaApertura","direccion","estatus"],
      gridHeaders: ["Tienda","Tipo de Plan","Tipo de Tienda","Tipo de Inmueble","Tienda Espejo","Fecha Apertura","Direccion"],
      loginResponse: [],
      hasLoaded: false,
      hasConError: false
    };
  },
  created(){
    if(!(this.$token === '1234control')){
      this.$router.push("/login")
    }
    //  Axios({
    //     method: 'POST',
    //     url: "https://localhost:44336/Service.asmx/SAP_APT?",
    //   })
    //   .then(function (response) {
    //     var jsonData = XMLJS.xml2json(response.data, {compact: true, spaces: 4});// eslint-disable-line no-unused-vars
    //     console.log(response.data);
    //     alert(response.data);
    //     alert("Works")
    //   })
    //   .catch(function (error) {
    //     console.log(error);
    //   });
    
    this.getProjects()
  },
  mounted() {
    this.fechaFooter();
  },
  computed:{
    dataOnTime: function(){
      return this.gridData.filter(proyect => proyect.Estatus == 1)
    },
    dataPending: function(){
      return this.gridData.filter(proyect => proyect.Estatus == 2)
    },
    dataInnactive: function(){
      return this.gridData.filter(proyect => proyect.Estatus == 3)
    }
  },
  components: {
    Grid,
    LoadingWheel,
    ScrollTop
  },
  methods: {
    fechaFooter(){   
    var tomorrow = new Date();
    tomorrow.setTime(tomorrow.getTime() + (1000*3600*24));       
    document.getElementById("spanDate").innerHTML = tomorrow.getFullYear();
    },
    cerrarProyecto(){ 
      this.devShow = false;
    },
    getProjects(){
      Axios
      .get("https://localhost:44327/api/Proyectos") //APIUrl.PROJECTS
      .then(response => {      
        this.gridData = response.data
        this.hasLoaded = true
      })
      .catch( e => {
        console.log(e)
        //HACER ALGO PARA CUANDO NO SE PUEDA CONECTAR
        this.hasLoaded = true;
        this.hasConError = true;
      }) 
    },
    crearNuevoProyecto(){
      this.$router.push("/tareas").then(() => this.$scrollToTop());
    }
  }
  
}
</script>

<style>

</style>
